{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'base/base.css' %} " type="text/css">

    <script type="module" src="{% static 'other/js/utilities.js' %}"></script>
    <script type="module" src="{% static 'menu/js/ui.js' %}"></script>
    <script type="module" src="{% static 'menu/js/sidebar.js' %}"></script>
    <script type="module" src="{% static 'product/js/product-modal.js' %}"></script>
    <script type="module" src="{% static 'cart/js/cart.js' %}"></script>

    <title>{% block title %} {% endblock %} </title>

</head>
<body class="{% block bodyclass%} {% endblock%}"> 
    <header class="menu">
        <div class="menu-wrap">  
            <div class="logo-wrap">
                <span> Два Лосося </span>
            </div>	
            <nav>
                <ul>
                    <li><a href="{% url 'promo'%}">Акции</a></li>
                    <li><a href="{% url 'delivery'%}">Доставка</a></li>
                    <li><a href="{% url 'aboutus'%}">О нас</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                    <li><span>+7 000 000 00 00</span> </li>
                </ul>
            </nav>
            <a> Корзина: </a>
        </div>
     </header>
    <main>
        {% block main %} {% endblock %}
    </main>
    <footer id="footer">
        <nav>
            <a href="https://vk.com/cosmonauts_street"> Следить за нами ВКонтакте </a>
            <ul class="NavigationFooter">
                <li> Наши контакты: </li?>
                <li><a href="https://t.me/deletethisaccoumpt" >TELEGRAM</a> </li>
                <li><a href="https://vk.com/kirshi6" >VK</a> </li>
            </ul>
        </nav>
    </footer>
</body>
</html>